.config-container {
    width: 100%;
    height: 100vh;
    display: flex;
}

.grid-container {
    height: 100%;
    flex: 3;
}

.widget-list-container {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
}

.list-container {
    flex-grow: 1;
}

.widget-list-buttons {
    display: flex;
    justify-content: space-around;
    padding-bottom: 2rem;
}

.drawer-item {
    width: calc(100% - 2rem);
    height: 3rem;
    margin: 1rem;
    background-color: cadetblue;
    box-sizing: border-box;
}
