.App {
  text-align: center;
}

.App > div {
  display: flex;
  flex-direction: row;
}

.App > div.marszowagodzina {
  background-color: #fed;
}
.App > div.marszowagodzina + div {
  background-color: cornsilk;
}

.App > div > div {
  padding: 4px 1rem;
}

.App > div > div:nth-child(1) {
  width: 13rem;
}

.App > div > div:nth-child(2) {
  width: 10rem;
}

.App > div > div.rain {
  background-color: #fcc;
}

.App > div > div:nth-child(3) {
  width: 5rem;
}