body {
  background-image: url("./assets/img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.app-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0;
  overflow: hidden;
}

.weather-container {
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%; /* columnified flex-grow: 1 */
  font-weight: 600;
  white-space: normal;
  padding: 1rem 0;
}

.weather-row {
  display: grid;
  vertical-align: middle;
  grid-template-areas: "formattedDate temp weather weather-icon";
  grid-template-columns: 1fr 1fr repeat(2, 0fr);
  position: relative;
}

@media (min-width: 50rem) {
  .weather-container {
    max-width: 50rem;
  }
  .weather-row {
    padding: 0 5rem;
  }
}

@media (min-width: 36rem) and (max-width: 50rem) {
  .weather-container {
    max-width: 36rem;
  }
  .weather-row {
    padding: 0 2rem;
  }
}

@media (max-width: 36rem) {
  .weather-container {
    max-width: initial;
    width: 100%;
  }
  .weather-row {
    grid-template-areas: "formattedDateMnemonic temp weather weather-icon";
    grid-template-columns: 1fr 1fr repeat(2, 0fr);
    padding: 0 1rem;
  }

  .weather-row__temp-temp {
    display: none;
  }

  .weather-row .weather-row__formattedDate {
    display: none;
  }

  .app-container {
    padding: 0;
  }
  
  .mobile-only.mobile-only {
    display: inherit;
  }
}

.weather-row > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-row__formattedDate,
.weather-row__formattedDateMnemonic,
.weather-row__temp {
  justify-content: flex-start;
}

.marszowagodzina,
.marszowagodzina + * {
  overflow: visible;
}

.marszowagodzina::before,
.marszowagodzina + *:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: lightgoldenrodyellow;
}

.mobile-only {
  display: none;
}

.weather-row__formattedDate { grid-area: formattedDate; }
.weather-row__formattedDateMnemonic { grid-area: formattedDateMnemonic; }
.weather-row__temp { grid-area: temp; }
.weather-row__weather { grid-area: weather; }
.weather-row__weather-icon { grid-area: weather-icon; }
