.app-container {
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

table {
  border-collapse: collapse;
  margin: 3rem;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.7);
}

table td {
  border-bottom: 1px solid #ddd;
  padding: 8px 3rem;
  margin: 0;
}

table tr > td:first-child {
  padding-left: 4rem;
}

table tr > td:last-child {
  padding-right: 4rem;
}

table > tbody > tr.marszowagodzina {
  background-color: #fed;
}

tr.marszowagodzina + tr {
  background-color: cornsilk;
}
